<script src="https://kit.fontawesome.com/1eb262b034.js"></script>
<link href="~/css/HomeIndex.css" rel="stylesheet" />
<link href="~/css/Index2.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="~/js/Index.js" async></script>

<html>

<head>



</head>

<body>

    <h2><b>Cadastrar pedido</b></h2>
    <p>&nbsp;</p>
    <form method="post" id="pedido">
        <label for="email">Email </label>
        <input type="text" id="email" name="email" class="form-control" placeholder="Digite seu email" />
        <p>&nbsp;</p>
        <h4><b>Selecione seus produtos</b></h4>

        <div id="fileira1">
            <div id="produto1" class="produto">
                <img src="~/images/notebook.png" class="imagens" />
                <label class="preco">R$1750.00</label>
                <input type="button" value="Adicionar ao carrinho" id="botaoP1" class="btn-primary botoes" onclick="buscarPeloId(1);" />
            </div>

            <div id="produto2" class="produto">
                <img src="~/images/computador.png" id="computador" class="imagens" />
                <label class="preco">R$1450.00</label>
                <input type="button" value="Adicionar ao carrinho" id="botaoP2" class="btn-primary botoes" onclick="buscarPeloId(2);" />

            </div> <div id="produto3" class="produto">
                <img src="~/images/impressora.png" class="imagens" />
                <label class="preco">R$350.00</label>
                <input type="button" value="Adicionar ao carrinho" id="botaoP2" class="btn-primary botoes" onclick="buscarPeloId(3);" />
            </div>
        </div>

        <div id="fileira2">
            <div id="produto4" class="produto">
                <img src="~/images/mouse.png" class="imagens" />
                <label class="preco">R$40.00</label>
                <input type="button" value="Adicionar ao carrinho" id="botaoP2" class="btn-primary botoes" onclick="buscarPeloId(4);" />

            </div> <div id="produto5" class="produto">
                <img src="~/images/teclado.png" class="imagens" />
                <label class="preco">R$120.00</label>
                <input type="button" value="Adicionar ao carrinho" id="botaoP2" class="btn-primary botoes" onclick="buscarPeloId(5);" />

            </div> <div id="produto6" class="produto">
                <img src="~/images/headset.png" class="imagens" />
                <label class="preco">R$89.00</label>
                <input type="button" value="Adicionar ao carrinho" id="botaoP2" class="btn-primary botoes" onclick="buscarPeloId(6);" />
            </div>
        </div>

        <div id="carrinho" name="carrinho">
            <ul id="lista"></ul>


        </div>

        <button id="btAdicionarPedido" class="btn-primary" name="button">Finalizar Pedido</button>

    </form>

</body>


</html>