
#fileira1 {
  
    height: 350px;
}

#fileira2 {
    
    height: 350px;
    margin-top: 20px;
}

#computador {
    width: 320px;
    height: 250px;
}

.produto {
    border: solid white 1px;
    height: 350px;
    width: 360px;
    float: left;
    margin-left: 10px;
}

.produto:hover{
    box-shadow: 0px 0px 3px black;
    transition:1s;
}

.botoes {
    position: relative;
    left: 90px;
    margin-top: 10px;
    border-radius: 5px;
}

#carrinho {
    margin-top: 20px;
    overflow: auto;
    width: 482.4px;
    height: 300px;
    clear: both;
    background-color: rgba(10,23,55,0.5);
    border: 1px solid black;
    box-shadow: 0px 0px 0px 1px black;
}

.listaProdutos {
    background-color: azure;
    height: 35px;
    text-decoration: none;
    list-style: none;
    margin-bottom: 3px;
    border: solid 1px black;
}

.botoesRemover {
    
    float:right;
    line-height: 29.2px;
 
}

ul {
    margin: 0;
    padding: 0;
}

#btAdicionarPedido {
   
    margin-top: 20px;
}

#visualizacao{
    background-color: #ddd;
    z-index: 99;
    width:200px;
    height:200px;
}
